{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="{% static 'images/aj-McsNra2VRQQ-unsplash.jpg' %}" class="w-100"
                        style="border-top-left-radius: .2rem; border-top-right-radius: .2rem;" alt="Sample photo">
                    <div class="card-body ">
                        <h3 class="text-center mt-5 mb-5">{% trans "Sign Out" %}</h3>
                        <p class="text-center mt-5 mb-5">{% trans 'Are you sure you want to sign out?' %}</p>
                        <div class="form-outline mb-4">
                            <form class="px-md-2" method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn btn-primary btn-block mt-4 mb-4" type="submit">{% trans 'Sign Out' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}





