/* Universal Styles */

body {

    margin: 0;
}

/* Navbar styles */
.navbar {
    font-family: 'Quattrocento Sans', Sans-Serif;
    color: #025930;
    background-color: #D0D8D9;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-weight: 600;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
    font-weight: 400;
}

.dropdown-menu {
    background-color: #D0D8D9;

}


/* General styles */

h1 {
    font-family: 'Ovo', Serif;
    font-size: 250%;
    letter-spacing: 3px;
    margin: 10px 0 15;

}

h2,
h3,
h4,
h5,
p {
    letter-spacing: 3px;
    font-family: 'Quattrocento Sans', Sans-Serif;
    text-align: left;
}

/* Header styles */


/* Hero image Home page */
.jumbotron {
    background-image: url(../images/vintage-g0ea6d6c92_1920.jpg),
        linear-gradient(to right, rgb(174, 184, 229), rgb(117, 235, 213));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    height: 500px;
}

/* Hero image on Create Post page */

.bg-no-overlay {
    background: url(../images/daria-kraplak-d34DtRp1bqo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 500px;
}




/* Main container section */

.featured-news {
    margin: 5px 50px;
}

/* .container {
    
    text-align: justify;
    margin: 20px;
    border: none;
    max-width: 860px;
    letter-spacing: 1px;
    line-height: 1.50;
    height: 100%;
    color: black;
    

} */

.container-fluid h1, h2, h3, h4 {
    font-size: 2.5rem;
    margin: 50px 20px;
}


img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px
}



a {
    color: black;
}

/* Write a blog section */
/* .create-blog {
    background-image: url(../images/cream-background.png),
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: #fff;
    height: 300px;
    
} */

/* Contact us section */
.contact-us-section h2 {
    font-size: 2.5rem;
    margin: 50px;
    text-align: center;

}

/* Footer */

.main-footer {
    background-color: #D0D8D9;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Quattrocento Sans', Sans-Serif;
    color: #0339A6;
    padding: 40px 0;
    text-align: center;
    margin: 0;
}

.main-footer li {
    list-style-type: none;
    letter-spacing: 4px;
    padding: 10px 10px;
    display: inline-block;
    margin-right: 50px;
}

.main-footer ul {
    display: table;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.main-footer a {
    text-decoration: none;
    color: inherit;
}

.main-footer a:hover {
    color: #401801;
    border-bottom: 2px solid #403521;
}

.copyright {
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: 600;
    font-family: 'Quattrocento Sans', Sans-Serif;
    margin: 50px 80px 0 0;
}

/* Login / Sign in pages */

.form-signup {
    margin: 50px;
}

.form-signin {
    margin: 50px;

}

.form-signout {
    margin: 100px 100px 100px 200px;
}


.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #401801;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}




/* Button styles */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #D0D8D9;
    color: #23BBBB;
}


/* Media queries */

@media only screen and (max-width: 600px) {

    img {
        width: 100%
    }

    .form-signup {
        margin: 10px 0;
    }

    .form-signin {
        margin: 10px 0;
    }

}


@media only screen and (max-width: 300px) {
    #formular {
        width: auto;
        padding: 0;
        margin: 0;

    }
} 

@media only screen and (max-width: 600px) {
    #formular {
        width: auto;
        padding: 0;
        margin: 0;

    }
} 




/* Write a post page */ 

#formular {
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: solid 1px #23BBBB;
}


#formular label {
    color: red;
}

#formular input {
    width: 200px;
    
}



.news-section {
    margin: 20px 20px;
}