{% extends "base.html" %}


{% block content %}
{% load cloudinary %}

<div class="container container-fluid justify-content-center">
    <div class="row gx-5">
        <div class="col-md-7">
            <h1 class="text-center">Blogs from our users</h1>
            <hr>

            {% for item in user_posts %}
            <div class="blog_post">
                <div class="featured">
                    <h1 class="text-center title">{{item.title}}</h1>
                    <!-- Post author and date -->
                    <p class="text-left mb-1">{{ item.author }} | {{ item.created_on }}</p>
                    <div class="shadow-2 rounded-5 mb-2"><img src="{{item.featured_image.url}}" class="img-fluid" alt="blog image">
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="content mb-5">
                    <p class='text-justify'>{{item.excerpt}}</p>
                    <a href="/blog/{{item.slug}}" class="btn btn-primary" role="button">Read more</a>
                </div>
            </div>

            {% empty %}
            <div class="container log-box">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 mt-4">
                        <p class="lead text-center">There are no posts from users for now. Come back later or create a post!
                        </p>
                        <div class="text-center"><a href="/create" class="text-center mt-3 btn btn-primary">Write
                                post</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h1 class="text-center">News from around the world</h1>
            <hr>
            {% for item in data %}

            <div class="row my-2 mb-5 news-card">
                <h3 class="mb-2 mt-3">{{item.title}}</h3>
                <img src="{{item.urlToImage}}" alt="news image"/>
                <p class="text-justify text-muted mt-1">{{item.content}}</p>
                <a href="{{item.url}}" target="_blank" rel="noopener" aria-label="Visit source to read full article"
                    class="btn btn-primary" role="button">View on source</a>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}