{% extends "base.html" %}


{% block content %}
{% load cloudinary %}

<div class="container container-fluid justify-content-center">
    <div class="row gx-5">
        <div class="col-md-12">
            <h1 class="title text-center mb-5">My Posts</h1>

            {% for item in object_list %}


            <div class="blog_post">
                <div class="featured">
                    <h1 class="text-center title">{{item.title}}</h1>
                    <div class="shadow-2-strong rounded-5"><img src="{{item.featured_image.url}}" class="img-fluid">
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="content">
                    <p class='text-justify'>{{item.excerpt}}</p>
                    <a href="/{{item.slug}}" class="btn btn-primary" role="button">Read more</a>
                    <form method="POST" action="{% url 'delete_post' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">DELETE</button> 

                    </form>
                    <a href="{% url 'Post_update' item.id %}" class="btn btn-primary">Update post</a>
                </div>
            </div>
            





            

   

        {% endfor %}

    </div>
</div>
</div>

{% endblock %}