{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="post-container">
  <h2 class="mt-2 mb-4">{{object.title}}</h2>
  <img src="{{object.featured_image.url}}" class="post-img" />
  <p class="post">{{object.content}}</p>


  <!-- LIKES -->
  {% if user.is_authenticated %}
  <form action="{% url 'post_like' object.id %}" method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-primary">Unlike</button>
    {% else %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-primary">Like</button>
    {% endif %}
  </form>
  {% else %}
  <a class="btn btn-primary" href="{% url 'account_login' %}?next={{request.path}}">Log in to like this
    article!</a><br>
  {% endif %}
  <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>



</div>
{% endblock %}