{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="post-container">
  <h2 class="mt-2 mb-5 text-center">{{object.title}}</h2>
  <!-- Post author and date -->
  <p class="text-left mb-1">{{ object.author }} | {{ object.created_on }}</p>
  <img src="{{object.featured_image.url}}" alt="post image" class="post-img"/>
  <p class="post text-justify my-3">{{object.content}}</p>

  <!-- LIKES -->
  {% if user.is_authenticated %}
  <form action="{% url 'post_like' object.id %}" method="POST">
    {% csrf_token %}

    {% if object.post_is_liked %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-primary btn-lg text-center">Unlike</button>
    {% else %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-primary btn-lg text-center">Like</button>
    {% endif %}
  </form>
  {% else %}
  <a class="btn btn-primary" href="{% url 'account_login' %}?next={{request.path}}">Log in to like this
    article!</a><br>
  {% endif %}
  <strong class="text-secondary">{{ object.number_of_likes }} Like{{ object.number_of_likes|pluralize }}</strong>

</div>
{% endblock %}