{% extends "base.html" %}


{% block content %}
{% load cloudinary %}

<div class="container container-fluid justify-content-center">
    <div class="row">
        <div class="col-md-8">
            {% for item in user_posts %}
            <div class="blog_post">
                <div class="featured">
                    <h1 class="title">{{item.title}}</h1>
                    <img src="{{item.featured_image.url}}" />
                </div>
                <div class="content">
                    <p>{{item.excerpt}}</p>
                    <a href="">Read more</a>
                </div>

            </div>

            {% endfor %}
        </div>
        <div class="col-md-4">
            <h3>News</h3>

            {% for item in data %}
            <div class="">
                <p>{{item.title}}</p>
                <img src="{{item.urlToImage}}" />
                <p>{{item.content}}</p>
                <a href="{{item.url}}">View on source</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}