{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid hero-image-thanks">
    <div class="container">
        <h2 class="text-left ml-0" style="font-weight:300;">Thank you!</h2>
        <h3 class="text-left mb-5">Your post is Pending Approval.</h3>
        <h3 class="text-left title">An Admin will review and publish it shortly.</h3>
        <a href="/myposts" class="btn btn-primary btn-light btn-center m-2" role="button">Go to My Posts</a>
    </div>
</div>


{% endblock %}