{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid hero-image-thanks">
    <div class="container">
        <h1 class="text-left title display-4" style="font-weight:300;">Thank you for posting!</h1>
        <h2 class="text-left title font-weight-bold">An admin will review your post and publish it.</h2>
        <a href="/myposts" class="btn btn-primary btn-light btn-center m-2" role="button">Go to My Posts</a>

    </div>
</div>


{% endblock %}