{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- <div class="jumbotron bg-no-overlay">
</div>
<div class="container">
    <h3 class="text-center"> Thank you for posting!</h3>
    <h5 class="text-center">An admin will review your post and publish it</h5>
    <h5 class="text-center">Go to <a href="/">Home page</a></h5>
    
</div> -->

<div class="jumbotron hero-image-thanks">
            <h1 class="text-left" style="font-weight:300;">Cogito, ergo sum</h1>
            <h2 class="text-left font-weight-bold">Welcome to Cogito, ergo sum | I think therefore I am
                </p>
                <h2 class="text-left">A website for culture and technology enthousiasts</p>
        </div>
    </div>
</div>

{% endblock %}